table{
    width: 100%;
   
}
.c1{
    background-color:#FF0000;
    padding: 20px;
   
}
.c2{
    background-color:#00FFFF ;
    padding: 20px;
   
}
.c3{
    background-color:#0000FF;
    padding: 20px;
   
   
} 
.c4{
    background-color:#00008B;
    padding: 20px;
}
.c5{
    background-color:#ADD8E6;
    padding: 20px;
}
.c6{
    background-color:#800080;
    padding: 20px;
}
.c7{
    background-color:#FFFF00;
    padding: 20px;
}
.c8{
    background-color:#00FF00;
    padding: 20px;
}
.c9{
    background-color:#FF00FF;
    padding: 20px;
}
.d1{
    background-color:#7FFFD4;
    padding: 20px;
}
.d2{
    background-color:#FFC0CB ;
    padding: 20px;
}
.d3{
    background-color:#C0C0C0;
    padding: 20px;
}
.d4{
    background-color:#808080;
    padding: 20px;
}
.d5{
    background-color:#FFFFFF;
   
    padding: 20px;
}
.d6{
    background-color:#FFA500;
    padding: 20px;
}
.d7{
    background-color:#A52A2A;
    padding: 20px;
}
.d8{
    background-color:#800000;
    padding: 20px;
}
.d9{
    background-color:#008000;
    padding: 20px;
}